<div class="modal-header">
  <h3 class="modal-title" style="text-align: center;">New Object</h3>
</div>

<div class="modal-body">
  <div class="uibootstrap" style="max-height: 500px; overflow-y: scroll; margin-left: 30px; margin-right: 30px;">

    <form class="form-inline" role="form">
      <div class="dropdown">
        <label>Project</label>

        <div class="btn-group" dropdown style="margin-left: 15px;">
          <button type="button" class="btn btn-primary dropdown-toggle">{{selectedProject.name}}<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li ng-repeat="project in projects">
              <a ng-modal="project" dropdown-toggle ng-click="setProject(project)">{{project.name}}</a>
            </li>

          </ul>
        </div>
        <hr>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="name" placeholder="Enter Name">

          <div style="margin-top: 20px;">
            <label>Description</label>
            <input type="text" class="form-control" ng-model="description" placeholder="Enter Description">
          </div>

          <div style="margin-top: 20px;">
            <label>JSON</label><br />
            <textarea ng-model="json" rows='5' cols='50' placeholder="Enter JSON here for the object"></textarea>
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="modal-footer">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <button type="button" class="btn btn-default" ng-click="$close('cancelled')">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="createObject(selectedProject, name, description, json, $close)">Create Object</button>
  </div>