<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body" ng-bind="content"></div>
      <div class="angularstrap" style="max-height: 500px; overflow-y: scroll; margin-left: 30px; margin-right: 30px;">
        <h2>Are you sure you want to delete <br /> "{{ endpointToRemove.name }}"?</h2>
      </div>




      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$hide()">No</button>
        <button type="button" class="btn btn-danger" ng-click="removeEndpoint(endpointToRemove)">Yes</button>
      </div>
    </div>
  </div>
</div>