<div class="modal-header">
  <h3 class="modal-title" style="text-align: center;">Test Endpoint</h3>
</div>

<div class="modal-body">
    <div class="uibootstrap" style="max-height: 500px; overflow-y: scroll; margin-left: 30px; margin-right: 30px;">

        <h2>Enter Input</h2>
        <textarea ng-model="input" rows='5' cols='50' placeholder="Enter JSON here for the object"></textarea>

    </div>
</div>

<div class="modal-footer">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <button type="button" class="btn btn-warning" ng-click="$close('cancelled')">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="testEndpoint(name, endpoint, input, request_headers, $close)">Test Endpoint</button>
</div>