<div class="dashboard">

	<h1>Dashboard</h1>

	<hr />

	<span style="margin: 350px;">Filter: <input type="text" ng-model="searchText" style="margin: 10px;"/></span>
	<br />
	<br />

	<table border = "1" style="text-align: center;">

		<tr style="font-weight: bold;">
			<th>OBJECT_ID</th>
			<th>PROJECT_ID</th>
			<th>NAME</th>
			<th>DESCRIPTION</th>
			<th>Created</th>
			<th>JSON</th>	
			<th>ACTION</th>

		</tr>
		<tr ng-repeat="object in objects | filter:searchText" class="object-table">
			<td> {{ object.id }} </td>
			<td> {{ object.project_id }} </td>
			<td> {{ object.name }} </td>
			<td> {{ object.description }} </td>
			<td> {{ object.updated_at | dateLocalize | date:'MMM d @ hh:mma'}} </td>
			<td style="text-align: left;"> 
				<pre pretty-json="object.json" />
			</td>
			<td>
				<button type="button" ng-click='dialog({{object}})'>Show JSON</button>
				<button type="button" ng-click='object.remove()'>Remove</button>
			</td>
		</tr>
	</table>
	<hr />
	<h3>RAW JSON DATA</h3>
	<pre pretty-json="objects" />

</div>