<div class="endpoints">

	<form class="jsonForm" ng-submit="action()">
		<textarea ng-model="endpointJSON" placeholder="Create or Change Endpoint (INPUT JSON)"></textarea>
		
		<span class="buttons">
		<select ng-model="idDropdown">
			<option value="">NEW ENDPOINT</option>
			<option ng-repeat="endpoint in endpoints" value="{{endpoint.id}}">{{ endpoint.id }}</option>
		</select>	

		<button type="submit">Submit</button>
		</span>
	</form>	
	<hr />

	<span style="margin: 350px;">Filter: <input type="text" ng-model="searchText" style="margin: 10px;"/></span>
	<br />
	<br />

   
	<table border = "1" style="text-align: center;">

		<tr style="font-weight: bold;">
			<th>ENDPOINT ID</th>
			<th>PROJECT ID</th>
			<th>NAME</th>
			<th>URI</th>
			<th>METHOD/RESPONSE CODE</th>
			<th>JSON</th>
			<th>REQUEST HEADERS</th>	
			<th>RESPONSE HEADERS</th>	

		</tr>
		<tr ng-repeat="endpoint in endpoints | filter:searchText" class="endpoint-table">
			<td> {{ endpoint.id }} </td>
			<td> {{ endpoint.project_id }} </td>
			<td> {{ endpoint.name }} </td>
			<td> {{ endpoint.uri }} </td>
			<td> {{ endpoint.method }}/{{ endpoint.response_code }} </td>
			<td style="text-align: left;">
				<pre pretty-json="endpoint.json" />
			</td>
			<td>
				<table style="margin: 10px;">
					<tr ng-repeat="requestHeader in endpoint.request_headers">				
						<td style="text-align: left;">{{ requestHeader.key }}: </td>
						<td style="text-align: right;">{{ requestHeader.value  }}</td>
					</tr>
				</table>	
			</td>
			<td>
				<table style="margin: 10px;">
					<tr ng-repeat="responseHeader in endpoint.response_headers">				
						<td style="text-align: left;">{{ responseHeader.key }}: </td>
						<td style="text-align: right;">{{ responseHeader.value  }}</td>
					</tr>
				</table>	
			</td>

		</tr>
	</table>
	<hr />
	<h3>RAW JSON DATA</h3>
	<pre pretty-json="endpoints" />

</div>