<div class="endpoints">

	<form style="margin-left: 300px; margin-top: 10px;" ng-submit="create()">
		<textarea rows="10" cols="50" ng-model="addObject" placeholder="Create New Endpoint (INPUT JSON)" id="addEndpoint"></textarea>
		<button type="submit" style="margin-left: 10px;">Submit</button>		
	</form>	<hr />

	<span style="margin: 350px;">Filter: <input type="text" ng-model="searchText" style="margin: 10px;"/></span>
	<br />
	<br />

	<table border = "1" style="text-align: center;" ng-table="tableParams">

		<!-- <tr style="font-weight: bold;">
			<th>ENDPOINT ID</th>
			<th>PROJECT ID</th>
			<th>NAME</th>
			<th>URI</th>
			<th>METHOD/RESPONSE CODE</th>
			<th>JSON</th>
			<th>REQUEST HEADERS</th>	
			<th>RESPONSE HEADERS</th>	

		</tr> -->
		<tr ng-repeat="endpoint in endpoints | filter:searchText" class="endpoint-table">
			<td data-title="'Endpoint ID'" sortable="'endpoint_id'"> {{ endpoint.id }} </td>
			<td data-title="'Project ID'" sortable="'project_id'"> {{ endpoint.project_id }} </td>
			<td data-title="'Name'" sortable="'name'"> {{ endpoint.name }} </td>
			<td data-title="'URI'" sortable="'uri'"> {{ endpoint.uri }} </td>
			<td data-title="'Method/Response Code'" sortable="'mrc'"> {{ endpoint.method }}/{{ endpoint.response_code }} </td>
			<td style="text-align: left;"> 
				<pre pretty-json="endpoint.json" />
			</td>
			<td>
				<table style="margin: 10px;">
					<tr ng-repeat="requestHeader in endpoint.request_headers">				
						<td style="text-align: left;">{{ requestHeader.key }}: </td>
						<td style="text-align: right;">{{ requestHeader.value  }}</td>
					</tr>
				</table>	
			</td>
			<td>
				<table style="margin: 10px;">
					<tr ng-repeat="responseHeader in endpoint.response_headers">				
						<td style="text-align: left;">{{ responseHeader.key }}: </td>
						<td style="text-align: right;">{{ responseHeader.value  }}</td>
					</tr>
				</table>	
			</td>

		</tr>
	</table>
	<hr />
	<h3>RAW JSON DATA</h3>
	<pre pretty-json="endpoints" />

</div>