<div class="todo">

	<br />
	<form ng-submit="create()">
		<input type="text" ng-model="name" placeholder="Add Task">	
		<button type="submit" style="position: absolute; left: 480px;">Submit</button>
	</form>
	<br />
	<br />
	<br />
	<button type="button" ng-if="showArchives"ng-click="toggleArchiveView()" style="position: absolute; left: 352px;">Hide Archives</button>
	<button type="button" ng-if="!showArchives"ng-click="toggleArchiveView()" style="position: absolute; left: 352px;">Show Archives</button>
	<br />
	<br />
	<br />
	
	<table>
		<tr>
			<th>Task Name</th>
			<th>Complete</th>
			<th>Archived</th>
			<th>Last Modified</th>
			<th>Options</th>
		</tr>
		<tr ng-repeat="task in tasks">
			<td>{{ task.task }}</td>
			<td ng-if="task.completed">Yes</td>
			<td ng-if="!task.completed">No</td>
			<td ng-if="task.archived">Yes</td>
			<td ng-if="!task.archived">No</td>
			<td>{{ task.updated_at | date:'medium'}}</td>
			<td>
				<button type="button" ng-click='task.rename()'>Rename</button>
				<button type="button" ng-if="!task.completed" ng-click='task.markdone()'>Mark Done</button>
				<button type="button" ng-href='#' ng-if="task.completed" ng-click='task.marknotdone()'>Mark Not Done</button>
				<button type="button" ng-if="!task.archived" ng-click='task.archive()'>Archive</button>
				<button type="button" ng-if="task.archived" ng-click='task.unarchive()'>Unarchive</button>
				<button type="button" ng-click='task.remove()'>Delete</button>
			</td>
		</tr>
	</table>
</div>