<div class="todo">

	<br />
	<form style="margin-left: 120px; margin-top: 40px;" ng-submit="create()">
		<textarea rows="4" cols="30" ng-model="add" placeholder="Create New Object (INPUT JSON)">
		<button type="submit">Submit</button>		
	</form>
	
	<table style="position: absolute; left: 10px; top: 200px; max-height: 300px; display: block;">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Updated At</th>
			<th>JSON</th>
		</tr>
		<tr ng-repeat="object in objects | filter: search">
			<td>{{ object.id }}</td>

			<td>{{ object.name }}</td>
			
			<td>{{ object.description }}</td>
			
			<td>{{ object.updated_at | dateLocalize | date:'MMM d @ hh:mma'}}</td>

			<td>{{ object.json }}</td>
		</tr>
	</table>
	<form>
		<input style="position: absolute; left: 350px; top: 550px;" type="text" ng-model="search" placeholder="Filter Objects By Name">
	</form>
</div>