@import url(//fonts.googleapis.com/css?family=Lato:700);
@import url(ng-quick-date.css);

body {
	font-family:'Lato', sans-serif;
	width: 70%;
	color: #999;
	display: block;
}

form > input, 
	   select, 
	   textarea, 
	   button {
			background:#fff;
			font-size:1em;
			font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight:300;
			color:#8c8a8b;
	   }


/*TABLE*/
div.todo > table 
{
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 115%;
	width: auto;
	overflow: auto;

	> tbody > tr > th {
		background-color: rgb(112, 196, 105);
		font-weight: normal;
		color: white;
		padding: 20px 30px;
		text-align: center;
	}

}

.high {
	background-color: rgb(245, 71, 71);
	padding: 20px 30px;
	color: rgb(255, 255, 255);
}

.med {
	background-color: rgb(196, 222, 29);
	padding: 20px 30px;
	color: rgb(0, 0, 0);
}

.low {
	background-color: rgb(238, 238, 238);
	padding: 20px 30px;
	color: rgb(80, 80, 80);
}

.calendar {

	.quickdate-calendar th {
		background-color: red;
	}

	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 80%;
	width: auto;
	background-color: rgb(001, 196, 105);
	font-weight: normal;
	color: white;
	text-align: center;
}


/*AngularJS ng-animate*/

.high.ng-enter
{ 
	transition: 0.25s;
	opacity:0;
} 

.high.ng-enter-active 
{
	opacity: 1;
}

.high.ng-leave
{ 
	transition: 0.25s;
	opacity:1;
} 

.high.ng-leave-active 
{
	opacity: 0;
}

.med.ng-enter
{ 
	transition: 0.25s;
	opacity:0;
} 

.med.ng-enter-active 
{
	opacity: 1;
}

.med.ng-leave
{ 
	transition: 0.25s;
	opacity:1;
} 

.med.ng-leave-active 
{
	opacity: 0;
}

.low.ng-enter
{ 
	transition: 0.25s;
	opacity:0;
} 

.low.ng-enter-active 
{
	opacity: 1;
}

.low.ng-leave
{ 
	transition: 0.25s;
	opacity:1;
} 

.low.ng-leave-active 
{
	opacity: 0;
}